@import 'reset', 'variables', 'typography';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-synthesis: none;
}

:root{
  --x: 400px;
  --y: 540px;
  --z: 58px;
}

html{
  scroll-behavior: smooth;
}

body{
  color: $base-color;
  background-color: $base-background-color;
  font-family: var(--jost), sans-serif;
}

.background{
  background-color: black;
  opacity: 1;
}

.activeBackground{
  opacity: 0;
  animation: opacityRevertAnimation 1s ease-in-out;
}

.opacity{
  opacity: 0;
}

.active{
  opacity: 1;
  animation: opacityAnimation 3.5s ease-in-out;
}

.removeZIndex{
  z-index: -1;
}

.addZIndex{
  z-index: 2;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
}
40% {
  opacity: 0;
}

100% {
  opacity: 1;
}
}

@keyframes opacityRevertAnimation {
  0% {
    opacity: 1;
}
100% {
  opacity: 0;
}
}

@media screen and (max-width: $laptop-query) {
  :root{
    --x: 264.7px;
    --y: 393.4px;
  }
}

@media screen and (max-width: $tablet-query) {
  :root{
    --x: 200px;
    --y: 270px;
  }
}