// theme colors
$base-color: #323232;
$base-background-color: #f3f3f3;
$accent-color: #bf9d47;

//margins and paddings 
$base-width: 90vw;

// media queries
$laptop-query: 1440px;
$tablet-query: 1024px;
$mobile-query: 744px;

// book
