@import '@/styles/variables.scss';

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 130px;
  min-height: 100vh;
  height: 100vh;
}

.img_container{
  height: 100%;
  display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
    background-image: url('/images/plug_background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.content_container{
  width: 750px;
  margin-top: 160px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
}

.title{
  margin-bottom: 180px;
}

.subtitle{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.slogan{
  margin-bottom: 28px;
  color: $accent-color;
}

.description{
  text-indent: 5em;
}

.description_wrapper{
  margin-bottom: 135px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media screen and (min-height: 1200px) {
  .content_container{
    margin-top: 0px;
    justify-content: center;
  }
}

@media screen and (max-width: $laptop-query) {
  .wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 1fr;
    gap: 45px;
  }

  .content_container{
    width: 960px;
    margin: 0 auto;
  }

  .description_wrapper{
width: 50vw;
align-self: flex-end;
margin-bottom: 60px;
gap: 20px;
  }
  .subtitle{
    justify-content: space-between;
  }

  .title{
    margin-bottom: 50px;
  }

  .img_container{
    height: 100vh;
    // background-position: top;
    // background-size: cover;
  }
}

@media screen and (max-width: $tablet-query) {
  .wrapper{
    gap: 40px;
  }

  .content_container{
    width: 345px;
  }

  .title{
    margin-bottom: 60px;
  }

  .slogan{
    margin-bottom: 14px;
  }

  .description_wrapper{
    width: 100%;
    gap: 30px;
      }
}